<h1>Listing posts</h1>

 <%= link_to 'New post', new_post_path %>
 <section class="col col-xs-12">
  <section class="col col-xs-8">

    <table>
      <%= render "posts/post", post:@posts.first %>
    </table>

    <%= link_to 'more', 'javascript:void(0)', id:'more_link' %>

    <div id="more_posts" style="display:none;">
      <table>  
        <% @posts.each do |post| %>
          <%= render "posts/post", post:post %>
        <% end %>
      </table>
    </div>

  </section>
</section>