<!DOCTYPE html>
<html lang="en">
  <head>
    <title>A. Mitchell Bullard - Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
 </head>
  <body id="body_home">
    <section  class="main_container  container">
      <header>
        <div class="row">

          <section id="title"  class="col  col-xxs-12 col-xs-6">
            <h1>A. Mitchell Bullard</h1>
            <p class="page_heading">
              developer, writer, musician,
              <br>
              all around creativity addict
              <br>

          <!-- Twitter follow button -->
              <a href="https://twitter.com/TopShelfBullard" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @TopShelfBullard</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          
          <!-- Twitter tweet button -->
              <a href="https://twitter.com/share" class="twitter-share-button" data-via="TopShelfBullard" data-count="none">Tweet</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

            </p>
          </section><!-- title -->

          <hr class="visible-xxs  visible-xs  hidden-sm  hidden-md  hidden-lg">
       
          <section id="header_quotes"  class="col  col-xxs-12 col-sm-4  col-sm-offset-1">
            <aside id="quote1" class="quotes">
              The true sign of intelligence is not knowledge but imagination.
              <br><br>
              -Albert Einstein
            </aside>

            <aside id="quote2" class="quotes">
              If the highest aim of a captain were to preserve his ship, he would keep it in port forever.
              <br><br>
              -St. Thomas Aquinas
            </aside>

            <aside id="quote3" class="quotes">
              No man who worships education has got the best out of education... Without a gentle contempt for
              education, no man's education is complete.
              <br><br>
              -G. K. Chesterton
            </aside>

            <aside id="quote4" class="quotes">
              There is no rule on how to write. Sometimes it comes easily and perfectly; sometimes it's like
              drilling rock and then blasting it out with charges.
              <br><br>
              -Ernest Hemingway
            </aside>

            <aside id="quote5">
              Intelligence is the ability to avoid doing work, yet getting the work done.
              <br><br>
              -Linus Torvalds
            </aside>

            <aside id="quote6" class="quotes">
              The guy who knows about computers is the last person you want to have creating documentation
              for people who don't understand computers.
              <br><br>
              -Adam Osborne
            </aside>

            <aside id="quote7" class="quotes">
              Writers are a little below clowns and a little above trained seals.
              <br><br>
              -John Steinbeck 
            </aside>

            <aside id="quote8" class="quotes">
              It's none of their business that you have to learn how to write. Let them think you were born that
              way.
              <br><br>
              -Ernest Hemingway
            </aside>

            <aside id="quote9" class="quotes">
              Without education we are in a horrible and deadly danger of taking educated people seriously.
              <br><br>
              -G. K. Chesterton
            </aside>

            <aside id="quote10" class="quotes">
              Distinctions drawn by the mind are not necessarily equivalent to distinctions in reality.
              <br><br>
              -Thomas Aquinas 
            </aside>

            <aside id="quote11" class="quotes">
              The good news about computers is that they do what you tell them to do. The bad news is that they
              do what you tell them to do.
              <br><br>
              -Ted Nelson
            </aside>

            <aside id="quote12" class="quotes">
              Never mistake motion for action.
              <br><br>
              -Ernest Hemingway  
            </aside>

            <aside id="quote13" class="quotes">
              Most good programmers do programming not because they expect to get paid or get adulation by
              the public, but because it is fun to program.
              <br><br>
              -Linus Torvalds 
            </aside>

            <aside id="quote14" class="quotes">
              Any sufficiently advanced technology is indistinguishable from magic.
              <br><br>
              -Arthur C. Clark
            </aside>

            <aside id="quote15" class="quotes">
              Computers are useless. They can only give you answers.
              <br><br>
              -Pablo Picasso
            </aside>

            <aside id="quote16" class="quotes">
              You can't just ask customers what they want and then try to give that to them. By the time you get
              it built, they'll want something new.
              <br><br>
              -Steve Jobs
            </aside>

            <aside id="quote17" class="quotes">
              Time is the only critic without ambition.
              <br><br>
              -John Steinbeck 
            </aside>

            <aside id="quote18" class="quotes">
              That is what we are supposed to do when we are at our best - make it all up - but make it up so
              truly that later it will happen that way.
              <br><br>
              -Ernest Hemingway 
            </aside>

            <aside id="quote19" class="quotes">
              Unless a reviewer has the courage to give you unqualified praise, I say ignore the bastard.
              <br><br>
              -John Steinbeck 
            </aside>

            <aside id="quote20" class="quotes">
              You can't get a cup of tea big enough or a book long enough to suit me.
              <br><br>
              -C. S. Lewis
            </aside>

            <aside id="quote21" class="quotes">
              Sometimes you have to play a long time to be able to play like yourself.
              <br><br>
              -Miles Davis
            </aside>

            <aside id="quote22" class="quotes">
              I have a writing addiction.
              <br><br>
              -Prince
            </aside>

            <aside id="quote23" class="quotes">
              Being the richest man in the cemetery doesn't matter to me. Going to bed at night saying we've
              done something wonderful, that's what matters to me.
              <br><br>
              -Steve Jobs 
            </aside>

            <aside id="quote24" class="quotes">
              People think computers will keep them from making mistakes. They're wrong. With computers you
              make mistakes faster.
              <br><br>
              -Adam Osborne
            </aside>

            <aside id="quote25" class="quotes">
              Never trust a computer you can't throw out a window.
              <br><br>
              -Steve Wozniak 
            </aside>
          </section> <!-- header_quotes -->

        </div> <!-- row --> 

        <hr>

      </header> <!-- header -->

      <nav class="top_nav">
        <ul class="nav nav-pills  nav-justified">
          <li>  <a href="http://www.amitchellbullard.com/index.php">HOME</a>  </li>
          <li>  <a href="http://www.amitchellbullard.com/tech.php">TECH</a> </li>
          <li>  <a href="http://www.amitchellbullard.com/novel.php">NOVEL</a> </li>
          <li>  <a href="http://www.amitchellbullard.com/family.php">FAMILY</a> </li>        
          <li>  <a href="http://www.amitchellbullard.com/contact.php">CONTACT</a> </li> 
        </ul>
      </nav> <!-- top_nav -->

<!-- content -->
      <section class="content_container  container  col  col-xxs-12"> 

<%= yield %>

      </section> <!-- content_container -->

<!-- footer -->
      <footer>
        <hr>
        <div class="row">
          <div class="col col-xxs-12"> 
            <blockquote>
              Designed, developed, and deployed by A. Mitchell Bullard. 
              <br>
            </blockquote>
          </div>
        </div> <!-- row -->
      </footer>   
    

    </section> <!-- main_container -->
      <?php include '_/components/php/common_content_script_tags.php'; ?>
  </body>
</html>
